/** Add css rules here for your application. */

.all {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.glass {
  background: rgba(0, 0, 0, 0.5);
}

.title {
  margin-left: 50%;
  margin-right: 0px;
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  text-align: center;
}

.wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
  /*border: 1px solid;
  border-color: green;*/
}
.wrapper:after {
  padding-top: 100%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.plan {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("images/home_plan.png");
  background-size: contain;
}

.lightsButton {
  position: absolute;
  top: 10%;
  left: 10%;
}

.room {
  background: rgba(0, 0, 100, 0.5);
  border: 1px solid red;
  position: absolute;
}

.room-shiny {
  background: rgba(100, 100, 0, 0.4);
}

#bathroom {
  top: 57%;
  bottom: 9%;
  left: 15%;
  right: 65%;
}

#kitchen {
  top: 21%;
  bottom: 48%;
  left: 15%;
  right: 52%;
}

#livingroom {
  top: 21%;
  bottom: 24%;
  left: 50%;
  right: 15%;
}

#chamber {
  top: 79%;
  bottom: 4%;
  left: 65%;
  right: 15%;
}

.slider {
  height: 30px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
