/** Add css rules here for your application. */

.all {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
  border: 1px solid;
  border-color: green;
}
.wrapper:after {
  padding-top: 100%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.plan {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("images/home_plan.png");
  background-size: contain;
}

.lightsButton {
  position: absolute;
  top: 40%;
  left: 55%;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 10px 0px 0px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
