/** Add css rules here for your application. */

.all {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.glass {
  background: rgba(0, 0, 0, 0.5);
}

.title {
  margin-left: 50%;
  margin-right: 0px;
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  text-align: center;
}

.wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
  /*border: 1px solid;
  border-color: green;*/
}
.wrapper:after {
  padding-top: 100%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.plan {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("images/home_plan.png");
  background-size: contain;
}

.lightsButton {
  display: inline-block;
  margin: 5px !important;
}



.room {
  background: rgba(0, 0, 100, 0.5);
  border: 1px solid maroon;
  position: absolute;
}

.room-shiny {
  background: rgba(100, 100, 0, 0.4);
}

.hotfloor {
  background: rgba(150, 0, 0, 0.4);
  /* border: 1px solid red; */
  position: absolute;
}

.hotfloor-text {
  display: inline-block;
  text-align: center;
  margin-top: 50%;
  width: 100%;
  font-size: 20pt;
  font-family: arial;
  font-weight: bold;
  color: orange;
}

#bathroom {
  top: 57%;
  bottom: 9%;
  left: 15%;
  right: 65%;
}

#bathroom-hotfloor {
  top: 20%;
  bottom: 32%;
  left: 49%;
  right: 3%;
}

#balcony {
  top: 5%;
  bottom: 84%;
  left: 15%;
  right: 57%;
}

#hall {
  top: 58%;
  bottom: 4%;
  left: 37%;
  right: 52%;
}

#kitchen {
  top: 21%;
  bottom: 48%;
  left: 15%;
  right: 52%;
}

#kitchen-hotfloor {
  top: 27%;
  bottom: 2%;
  left: 40%;
  right: 2%;
}

#livingroom {
  top: 21%;
  bottom: 24%;
  left: 50%;
  right: 15%;
}

#chamber {
  top: 79%;
  bottom: 4%;
  left: 65%;
  right: 15%;
}

.slider {
  height: 30px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.hotfloor-dialog-label {
  font-size: 20pt;
  font-family: arial;
  font-weight: bold;
  color: orange;
}

.closeButton {
  margin: 15px 6px 6px !important;
}
